/* fix, figure out how to center div */

.shopButton {
  font-family: "Alata", sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 25px;
  background-color: #a57454;
  padding: 12px 48px;
  /*display: flex;
  justify-content: center;*/
  margin-left: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}