/* fix, figure out how to center div */

.shopButton {
  font-family: "Alata", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 125%;
  letter-spacing: 4px;
  border-radius: 25px;
  background-color: hsl(24, 33%, 49%);
  padding: 12px 48px;
  border: none;
}

.shop-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.shopButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sign {
  height: 325px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
}

.featured {
  font-family: "Alata", sans-serif;
  font-size: 200%;
  letter-spacing: 10px;
  text-align: right;
  color: #f2e1cf;
  background-color: #e6bb9c;
  display:inline-flex;
  align-items:center;
  right: 0px;
  left: 0px;
  margin-top: 80px;
}

.text {
  padding: 20px;
}