  /* responsive design -- instead of three columns do one */

  * {
    margin: 0;
    padding: 0;
  }
  
  p {
    font-family: "Lora", serif;
  }
  
  footer {
    width: 100%;
    background-color: #fcf3eb;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 300px;
  }
  
  .title {
    font-family: "Alata", sans-serif;
    color: #f6e7de;
    letter-spacing: 10px;
    font-size: 150%;
  }
  
  /* about */

  .footer-text {
    color: #a57454;
    letter-spacing: 1px;
    margin-top: 10px;
  }
    
  /* socials */
  
  .icon {
    height: 40px;
  }